<div class="cont cont-tipoTemas">
    <p *ngIf="mensajeExito" class="mensaje-exito">{{ mensajeExito }}</p>
    <p *ngIf="mensajeError" class="mensaje-error">{{ mensajeError }}</p>

    <table border="1" cellspacing="0" cellpadding="5">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Código</th>
                <th>Funciones</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let tipoTema of tipoTemas; let i = index">
                <tr [style]="i % 2 === 0 ? 'background-color: var(--rosa1);' : 'background-color: var(--blanco);'">
                    <td>{{ tipoTema.id }}</td>
                    <td>{{ tipoTema.name }}</td>
                    <td>{{ tipoTema.code }}</td>
                    <td>
                        <button class="button-editar" (click)="editar(tipoTema)">Editar</button>
                        <button class="button-borrar" (click)="borrar(tipoTema.id)">Borrar</button>
                    </td>
                </tr>
                <tr *ngIf="tipoTemaEditandoId === tipoTema.id">
                    <td colspan="4">
                        <form (ngSubmit)="guardarCambios()" #form="ngForm">
                            <ng-container *ngIf="tipoTemaEditandoId === tipoTema.id">
                                <h3>Editar Tipo Tema: {{tipoTema.id}}</h3>
                                <label>
                                    Nombre:
                                    <input [(ngModel)]="tipoTemaEditando.name" name="name" required />
                                </label>

                                <label>
                                    Código:
                                    <input [(ngModel)]="tipoTemaEditando.code" name="code" required />
                                </label>
                                <label>
                                    <button class="button-guardar" type="submit">Guardar</button>
                                    <button class="button-cancelar" type="button" (click)="cancelarEdicion()">Cancelar</button>
                                </label>
                            </ng-container>
                        </form>
                    </td>
                </tr>
            </ng-container>
            
        </tbody>
    </table>
    <button class="button-crear" type="button" (click)="toggleFormularioCrearTipoTema()">Agregar Tipo tema</button>
    <ng-container *ngIf="formularioCrearTipoTema">
        <form class="form-crear" (ngSubmit)="agregarTipoTema()" #form="ngForm">
            <h3>Nuevo Tipo Tema</h3>
            <label>
                Nombre:
                <input [(ngModel)]="nuevoTipoTema.name" name="name" required />
            </label>
        
            <label>
                Codigo:
                <input [(ngModel)]="nuevoTipoTema.code" name="code" required />
            </label>
            <label>
                <button class="button-guardar" type="submit">Agregar</button>
                <button class="button-cancelar" type="button" (click)="toggleFormularioCrearTipoTema()">Cancelar</button>
            </label>
        </form>
    </ng-container>
</div>