<app-navbar></app-navbar>
<main>
    <div class="cont">
        <section id="privacidad">
            <h2>Privacidad</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur eius delectus dolore maiores consequatur, fugit quam quibusdam id voluptates accusamus vero fugiat vel corporis debitis voluptatem quo aperiam, eos exercitationem.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur eius delectus dolore maiores consequatur, fugit quam quibusdam id voluptates accusamus vero fugiat vel corporis debitis voluptatem quo aperiam, eos exercitationem.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur eius delectus dolore maiores consequatur, fugit quam quibusdam id voluptates accusamus vero fugiat vel corporis debitis voluptatem quo aperiam, eos exercitationem.</p>
        </section>
        <section id="condiciones">
            <h2>Condiciones</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur eius delectus dolore maiores consequatur, fugit quam quibusdam id voluptates accusamus vero fugiat vel corporis debitis voluptatem quo aperiam, eos exercitationem.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur eius delectus dolore maiores consequatur, fugit quam quibusdam id voluptates accusamus vero fugiat vel corporis debitis voluptatem quo aperiam, eos exercitationem.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur eius delectus dolore maiores consequatur, fugit quam quibusdam id voluptates accusamus vero fugiat vel corporis debitis voluptatem quo aperiam, eos exercitationem.</p>
        </section>
        <section id="normativa">
            <h2>Normativa</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur eius delectus dolore maiores consequatur, fugit quam quibusdam id voluptates accusamus vero fugiat vel corporis debitis voluptatem quo aperiam, eos exercitationem.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur eius delectus dolore maiores consequatur, fugit quam quibusdam id voluptates accusamus vero fugiat vel corporis debitis voluptatem quo aperiam, eos exercitationem.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur eius delectus dolore maiores consequatur, fugit quam quibusdam id voluptates accusamus vero fugiat vel corporis debitis voluptatem quo aperiam, eos exercitationem.</p>
        </section>
        <section id="cookies">
            <h2>Política de Cookies</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur eius delectus dolore maiores consequatur, fugit quam quibusdam id voluptates accusamus vero fugiat vel corporis debitis voluptatem quo aperiam, eos exercitationem.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur eius delectus dolore maiores consequatur, fugit quam quibusdam id voluptates accusamus vero fugiat vel corporis debitis voluptatem quo aperiam, eos exercitationem.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur eius delectus dolore maiores consequatur, fugit quam quibusdam id voluptates accusamus vero fugiat vel corporis debitis voluptatem quo aperiam, eos exercitationem.</p>
        </section>
    </div>
</main>
<app-footer></app-footer>