<app-header></app-header>
<main>
    <div class="cont-profesionales">
        <div class="profesional" style="background-color: var(--blanco);">
            <div class="front-card">
                <div class="title">
                    <h2>Nombre completo</h2>
                    <p>especialidad</p>
                    <button class="profesional-button" style="background-color: var(--rosa-chicle2); &:hover{background-color: var(--rosa-chicle3);}">Ver</button>
                </div>
                <div class="image">
                    <img src="assets/foto 1.png">
                </div>
            </div>
        </div>

        <div class="profesional" style="background-color: var(--rosa2);">
            <div class="front-card" style="flex-direction: row-reverse;">
                <div class="title">
                    <h2>Nombre completo</h2>
                    <p>especialidad</p>
                    <button class="profesional-button" style="background-color: var(--verde2); &:hover{background-color: var(--verde3);}">Ver</button>
                </div>
                <div class="image">
                    <img src="assets/foto 1.png">
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>