<app-header></app-header>
<main>
    <div class="cont-profesionales">
        <div *ngFor="let profesional of profesionales; let i = index" class="profesional">
            <div class="profesional" [ngStyle]="{ 'background-color': i % 2 === 0 ? 'var(--blanco)' : 'var(--rosa2)' }">
                <div class="front-card" [ngStyle]="{ 'flex-direction': i % 2 === 0 ? 'row' : 'row-reverse' }">
                    <div class="title">
                        <h2>{{ profesional.name }}</h2>
                        <p>{{ profesional.specialty }}</p>
                        <button class="profesional-button" [ngStyle]="{'background-color': i % 2 === 0 ? 'var(--rosa-chicle2)' : 'var(--verde3)'}" (mouseenter)="hoveredIndex = i" (mouseleave)="hoveredIndex = -1" [style.background-color]="hoveredIndex === i ? (i % 2 === 0 ? 'var(--rosa-chicle3)' : 'var(--verde4)') : (i % 2 === 0 ? 'var(--rosa-chicle2)' : 'var(--verde3)')">Ver</button>
                    </div>
                    <div class="image">
                        <img src="{{ profesional.image }}assets/foto 1.png" alt="{{ profesional.name }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>