<app-header></app-header>
<app-cookies></app-cookies>
<main>
    <div class="description">
        <h1>Bienvenidos</h1>
        <p class="no-movil">Lorem ipsum dolor sit amet consectetur adipiscing elit fringilla sem, montes ut praesent tristique ad ultricies pulvinar vehicula maecenas, purus porta enim turpis facilisi sollicitudin pharetra hendrerit. Tristique cras velit magnis ultricies laoreet molestie, proin pulvinar habitant libero himenaeos vestibulum, rutrum nunc potenti tortor sociis, neque in purus inceptos mollis. Aliquam non habitant ullamcorper pellentesque enim blandit sociosqu, sollicitudin litora fringilla dui malesuada quis, facilisis dapibus senectus eu vel vulputate.</p>
        <p class="movil">Lorem ipsum dolor sit amet consectetur adipiscing elit fringilla sem, montes ut praesent tristique ad ultricies pulvinar vehicula maecenas, purus porta enim turpis facilisi sollicitudin pharetra hendrerit.</p>
    </div>

    <div class="information no-movil">
        <div class="information-1">
            <div class="img">
                <img src="/assets/ilustracionInicio1.png" alt="">
            </div>
            <div class="info-description1">
                <p>Inestabilidad, sentimientos reprimidos,Lorem ipsum dolor sit amet consectetur adipiscing elit fringilla sem, montes ut praesent tristique ad ultricies pulvinar vehicula n pharetra hendrerit.</p>
            </div>
        </div>

        <div class="information-2">
            <div class="info-description2">
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tellus aenean, cras netus dignissim ut massa urna nibh consequat. Etiam montes et gravida mattis tempor curabitur fermentum at venenatis, consequat tincidunt accumsan suscipit netus mollis congue cum sapien, fringilla curae nam luctus mus quam enim aliquam. Sagittis at suscipit fames aenean mattis quisque per cubilia.</p>
            </div>
            <div class="cont-chart">
                <app-pie-chart></app-pie-chart>
            </div>
        </div>
    </div>

    <div class="information movil">
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tellus aenean, cras netus dignissim ut massa urna nibh consequat. Etiam montes et gravida mattis tempor curabitur fermentum at venenatis, consequat tincidunt accumsan suscipit netus mollis congue cum sapien, fringilla curae nam luctus mus quam enim aliquam. Sagittis at suscipit fames aenean mattis quisque per cubilia.</p>
    </div>

    <div class="info-pages">
        <h1>Contenido</h1>
        <div class="cont-pages">
            <div class="page temas">
                <h2>Temas</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum voluptatem unde exercitationem, eaque aspernatur molestiae quaerat deleniti quam illum modi a accusamus vero nulla id asperiores sed! Atque, quo blanditiis!</p>
                <a routerLink="{{ isLoggedIn ? '/temas' : '/login' }}">Ver</a>
            </div>
            <div class="page profesionales">
                <h2>Profesionales</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum voluptatem unde exercitationem, eaque aspernatur molestiae quaerat deleniti quam illum modi a accusamus vero nulla id asperiores sed! Atque, quo blanditiis!</p>
                <a routerLink="{{ isLoggedIn ? '/profesionales' : '/login' }}">Ver</a>
            </div>
        </div>
    </div>

    <div class="cont-coments">
    </div>

    <div class="donations"></div>

    <section class="infoExtra">
        <div class="imagen no-movil"></div>
        <div class="contPreguntas">
            <h2>¿Tienes preguntas?</h2>
            <div class="preguntas">
            <div 
                class="contPregunta" 
                *ngFor="let pregunta of preguntas; let i = index"
                (click)="togglePregunta(i)"
            >
                <div class="pregunta" [ngClass]="{ 'activado': preguntaAbiertaIndex === i, 'no-activado': preguntaAbiertaIndex !== i }">
                <h3>{{ pregunta.titulo }}</h3>
                <p>{{ preguntaAbiertaIndex === i ? 'x' : '+' }}</p>
                </div>

                <div class="extend" [ngClass]="{ 'activo': preguntaAbiertaIndex === i, 'no-activo': preguntaAbiertaIndex !== i }" (click)="$event.stopPropagation()">
                <ng-container *ngIf="pregunta.tipo === 'texto'">
                    <p>{{ pregunta.respuesta }}</p>
                </ng-container>

                <ng-container *ngIf="pregunta.tipo === 'formulario'">
                    <form>
                    <input name="nombre" type="text" placeholder="Escriba su nombre" required />
                    <input name="email" type="email" placeholder="Un correo electrónico" required />
                    <input name="numeroTel" type="text" placeholder="Un número de teléfono" required />
                    <textarea name="peticion" placeholder="¿Cuál es su petición?"></textarea>
                    <input type="submit" value="Enviar" class="btn" />
                    </form>
                </ng-container>
                </div>
            </div>
            </div>
        </div>
        </section>

</main>
<app-footer></app-footer>
