<app-header></app-header>
<main>
    <div class="description">
        <h1>Bienvenidos</h1>
        <p class="no-movil">Lorem ipsum dolor sit amet consectetur adipiscing elit fringilla sem, montes ut praesent tristique ad ultricies pulvinar vehicula maecenas, purus porta enim turpis facilisi sollicitudin pharetra hendrerit. Tristique cras velit magnis ultricies laoreet molestie, proin pulvinar habitant libero himenaeos vestibulum, rutrum nunc potenti tortor sociis, neque in purus inceptos mollis. Aliquam non habitant ullamcorper pellentesque enim blandit sociosqu, sollicitudin litora fringilla dui malesuada quis, facilisis dapibus senectus eu vel vulputate.</p>
        <p class="movil">Lorem ipsum dolor sit amet consectetur adipiscing elit fringilla sem, montes ut praesent tristique ad ultricies pulvinar vehicula maecenas, purus porta enim turpis facilisi sollicitudin pharetra hendrerit.</p>
    </div>

    <div class="information no-movil">
        <div class="information-1">
            <div class="info-description1">
                <p>Inestabilidad, sentimientos reprimidos,Lorem ipsum dolor sit amet consectetur adipiscing elit fringilla sem, montes ut praesent tristique ad ultricies pulvinar vehicula n pharetra hendrerit.</p>
            </div>
            <div class="percentage-info">
                <div class="percentage">
                    <p><b>20%</b> personas pipipipi</p>
                </div>
                <div class="percentage">
                    <p><b>20%</b> personas pipipipi</p>
                </div>
                <div class="percentage">
                    <p><b>20%</b> personas pipipipi</p>
                </div>
                <div class="percentage">
                    <p><b>20%</b> personas pipipipi</p>
                </div>
            </div>
        </div>

        <div class="information-2">
            <div class="info-description2">
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tellus aenean, cras netus dignissim ut massa urna nibh consequat. Etiam montes et gravida mattis tempor curabitur fermentum at venenatis, consequat tincidunt accumsan suscipit netus mollis congue cum sapien, fringilla curae nam luctus mus quam enim aliquam. Sagittis at suscipit fames aenean mattis quisque per cubilia.</p>
            </div>
            <div class="cont-chart">
                <app-pie-chart></app-pie-chart>
            </div>
        </div>
    </div>

    <div class="information movil">
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tellus aenean, cras netus dignissim ut massa urna nibh consequat. Etiam montes et gravida mattis tempor curabitur fermentum at venenatis, consequat tincidunt accumsan suscipit netus mollis congue cum sapien, fringilla curae nam luctus mus quam enim aliquam. Sagittis at suscipit fames aenean mattis quisque per cubilia.</p>
    </div>

    <div class="info-pages">
        <h1>Contenido</h1>
        <div class="cont-pages">
            <div class="page temas"></div>
            <div class="page profesionales"></div>
        </div>
    </div>

    <div class="cont-coments">
    </div>

    <div class="donations"></div>

    <div class="cont-form">
        <div>
            <img src="" alt="">
        </div>
        <form action=""></form>
    </div>
</main>
<app-footer></app-footer>
