<!-- pruebas animación y hamburguesa -->
<nav class="navbar" [class.open]="menuOpen">
  <div class="navbar-left">
    <div class="log">
      <img src="/assets/logoPFG1.png" alt="logo">
    </div>
    <p>Light in us</p>
  </div>
  <!-- para cuando sea tamaño movil, aparezca toda la lista al pulsar en él (3guiones) -->
  <button class="navbar-movil" (click)="toggleMenu()" aria-label="Toggle menu">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="24" viewBox="0 0 28 24">
      <path fill="currentColor" d="M2.61 0h22.431a2.61 2.61 0 1 1 0 5.22H2.61a2.61 2.61 0 1 1 0-5.22m0 9.39h22.431a2.61 2.61 0 1 1 0 5.22H2.61a2.61 2.61 0 1 1 0-5.22m0 9.391h22.431a2.61 2.61 0 1 1 0 5.22H2.61a2.61 2.61 0 1 1 0-5.22"/>
    </svg>
  </button>  

  <ul class="navbar-links">
    <li><a routerLink="/">Inicio</a></li>
    <li><a routerLink="{{ isLoggedIn ? '/temas' : '/login' }}">Temas</a></li>
    <li><a routerLink="{{ isLoggedIn ? '/profesionales' : '/login' }}">Profesionales</a></li>
    <li><a routerLink="{{ isLoggedIn ? '/foros' : '/login' }}">Foros</a></li>
    <li><a routerLink="{{ isLoggedIn ? '/planes' : '/login' }}">Planes</a></li>

    <!-- contenedor lógico. No lo lee el dom si no se cumple -->
    <ng-container *ngIf="isAdmin">
      <li><a routerLink="/gestion">Gestión</a></li>
    </ng-container>

    <ng-container *ngIf="isLoggedIn; else notLogged">
      <li class="li-perfil" [class.open]="perfilMenuOpen"><a (click)="togglePerfilMenu()">Perfil</a>
        <ul class="perfil-container"  *ngIf="perfilMenuOpen"> 
          <li class="perfil-menu">
            <div (click)="togglePerfilMenu()" class="img-perfil close">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="m12 14.122l5.303 5.303a1.5 1.5 0 0 0 2.122-2.122L14.12 12l5.304-5.303a1.5 1.5 0 1 0-2.122-2.121L12 9.879L6.697 4.576a1.5 1.5 0 1 0-2.122 2.12L9.88 12l-5.304 5.304a1.5 1.5 0 1 0 2.122 2.12z"/></g></svg>
            </div>
            <div class="img-perfil">
              <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path fill="currentColor" fill-rule="evenodd" d="M256 42.667A213.333 213.333 0 0 1 469.334 256c0 117.821-95.513 213.334-213.334 213.334c-117.82 0-213.333-95.513-213.333-213.334C42.667 138.18 138.18 42.667 256 42.667m21.334 234.667h-42.667c-52.815 0-98.158 31.987-117.715 77.648c30.944 43.391 81.692 71.685 139.048 71.685s108.104-28.294 139.049-71.688c-19.557-45.658-64.9-77.645-117.715-77.645M256 106.667c-35.346 0-64 28.654-64 64s28.654 64 64 64s64-28.654 64-64s-28.653-64-64-64"/></svg>
            </div>
            <div class="info-perfil">
              <p><b>{{ user.name }}</b></p>
              <p>{{ user.email }}</p>
            </div>
            <button (click)="logout()">Cerrar sesión</button>
          </li>
        </ul>
      </li>
    </ng-container>

    <!-- plantilla q solo se inserta en el dom según el contenedor lógico -->
    <ng-template #notLogged>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/signup">Sign up</a></li>
    </ng-template>
  </ul>
</nav>
