app-navbar {
    position: absolute;
    width: 100%;
    z-index: 1000; /* Para que el navbar esté por encima de todo */
}

header{
    padding-top: 100px; /*lo q mide el navbar 70px*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    background-image: linear-gradient(rgba(211, 202, 205, 0.062), rgba(211, 202, 205, 0.062)), url('/assets/fondoContenido.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    gap: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.introduction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px 10%;
    gap: 50px;

    .text {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;

        h1{
            width: 100%;
            text-align: left;
            font-size: 3vw;
        }

        p {
            font-size: 20px;
        }

        .inputs {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 20px;
            font-size: 20px;

            a {
                display: block;
                background-color: var(--rosa-chicle2);
                padding: 15px;
                border-radius: 10px;
                text-decoration: none;
                color: var(--text-color);
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    color: var(--blanco);
                    background-color: var(--rosa-chicle3);
                }
            }

            a:nth-child(2) {
                background-color: var(--blanco);

                &:hover {
                    color: var(--blanco);
                    background-color: var(--text-color);
                }
            }

        }
    }

    .log {
        width: 100%;
        max-width: 450px;
        height: auto;
    
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.characteristics {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    .characteristic{
        width: 100%;
        border: 3px solid transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: var(--blanco);
        padding: 40px;
        gap: 25px;
        transition: border 0.3s ease, box-shadow 0.3s ease;

        .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            padding: 9px;

            svg{
                width: 100%;
                height: 100%;
            }
        }
    }

    .cha-1 {
        color: var(--blanco);
        background-color: var(--rosa-chicle3);

        &:hover{
            border: 3px solid var(--rosa-chicle4); 
            box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.15);
        }
    }

    .cha-2 {
        color: var(--blanco);
        background-color: var(--rosa-chicle2);

        &:hover{
            border: 3px solid var(--rosa-chicle3); 
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        }
    }

    .cha-3 {
        color: var(--text-color);
        background-color: var(--blanco);

        &:hover{
            border: 3px solid var(--rosa-chicle2); 
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        }
    }
}

.intro-header {
    bottom: 20%;
    width: 100%;
    padding: 50px; /*igual q header*/
    text-align: center;
    z-index: 1;

    h1{
        font-size: 2vw;
    }

    p {
        font-size: 25px;
        margin-top: 10px;
    }
}

.movil {
    display: none;
}

@media screen and (max-width: 1600px) {
    .introduction {
        .text{

            h1{
                font-size: 40px;
            }

            p{
                font-size: 22px;
            }
        }
    }

    .intro-header {
        padding: 10px 15%;

        h1{
            font-size: 40px;
        }

        p {
            font-size: 22px;
        }
    }
}


@media screen and (max-width: 1000px) {
    header {
        gap: 30px;
    }

    .movil {
        display: block;
    }

    .no-movil {
        display: none;
    }

    .introduction {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 0;

        .log{
            max-width: 300px;
            width: 100%;
        }

        .text{
            text-align: center;
            width: 100%;

            p {
                font-size: 20px;
            }
        }
    }

    .intro-header {
        padding: 10px 10%;
        h1{
            font-size: 35px;
        }

        p {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 760px) {
    header {
        padding-top: 80px;
        gap: 10px;
    }

    .introduction {
        padding: 0 10px 50px 10px;

        .log{
            max-width: 250px;
        }

        .text {
            .inputs {
                flex-direction: column;
                justify-content: center;
                align-items: stretch;
                gap: 5px;
            
                a {
                    padding: 10px 15px;
                }    
            }
        }
    }
    
    .characteristics {
        flex-direction: column;
        justify-content: center;
        align-items:center;

        .characteristic {
            flex-direction: row;
            justify-content: center;
            padding: 5px;
            font-size: 12px;

            .icon{
                width: 50px;
                height: 50px;
                padding: 5px;
            }
        }
    }

    .intro-header {
        h1{
            font-size: 35px;
        }

        p {
            font-size: 20px;
        }
    }
}