:root {
    --rosa1: #FDE7ED;
    --rosa2: #FBB4C6;
    --rosa3: rgb(248, 132, 161);
    --rosa4: #F6537C;
    --rosa5: #F32358;
    --rosa-chicle1: #FF92B7;
    --rosa-chicle2: #FF6296;
    --rosa-chicle3: #CC4E78;
    --rosa-chicle4: #993B5A;
    --rosa-chicle5: #33141E;
    --verde1: #D0FCD6;
    --verde2: #BBFAC4;
    --verde3: #A0F8AD;
    --verde4: #7AF58D;
    --verde5: #67F47C;
    --blanco: rgb(249, 249, 249);
    --blanco2: rgb(219, 219, 219);
    --text-color: #33141E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    min-height: 100%;
    background-color: var(--blanco);
}

/*para formato movil y no movil*/
/* .movil {
    display: none;
}

.no-movil {
    display: block;
}

@media screen and (max-width: 1000px) {
    .movil {
        display: block;
    }
    .no-movil {
        display: none;
    }
} */

/* fondo de login y signup */
body.auth-layout {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* para que ocupe el 100% de la pantalla del dispositivo*/
    width: 100vw; /* para que ocupe el 100% de la pantalla del dispositivo*/
    margin: 0;
    background-image: linear-gradient(rgba(51, 20, 30, 0.13), rgba(51, 20, 30, 0.13)), url('/assets/fondoContenido.jpg');
    background-size: cover; /* para que la imagen ocupe todo el fondo */
    background-position: center; /* para centrar la imagen de fondo */
    background-repeat: no-repeat; /* para que no se repita la imagen de fondo */
}

@media screen and (max-width: 700px) {
    body.auth-layout {
        display: block;
    }
}
