<app-navbar></app-navbar>
<main>
    <section class="planes-cont" *ngFor="let plan of planes">
        <h2>{{plan.name}}</h2>
        <p>{{plan.description}}</p>
    </section>
    <section class="forms-cont">
      <h2>Formularios</h2>
      <div class="form">
        <div class="form-header">
          <h2>Ansiedad</h2>
          <button (click)="toggleForm('ansiedad')">Hacer</button>
        </div>
        <div class="form-body" class="form-body" *ngIf="formulariosVisibles['ansiedad']">
          <form #ansiedadForm="ngForm" id="ansiedadForm">
            <h2>Ansiedad</h2>
            <div class="question">
                <label>1. ¿Con qué frecuencia te sientes nervioso/a o en tensión?</label><br>
                <input type="radio" name="q1" value="0"> a) Nunca<br>
                <input type="radio" name="q1" value="1"> b) A veces<br>
                <input type="radio" name="q1" value="2"> c) Frecuentemente<br>
                <input type="radio" name="q1" value="3"> d) Casi siempre<br>
            </div>

            <div class="question">
                <label>2. ¿Te cuesta relajarte incluso cuando estás en un entorno tranquilo?</label><br>
                <input type="radio" name="q2" value="0"> a) No, me relajo fácilmente<br>
                <input type="radio" name="q2" value="1"> b) Solo en ocasiones<br>
                <input type="radio" name="q2" value="2"> c) Sí, con frecuencia<br>
                <input type="radio" name="q2" value="3"> d) Siempre<br>
            </div>

            <div class="question">
                <label>3. ¿Sientes que no puedes controlar tus preocupaciones?</label><br>
                <input type="radio" name="q3" value="0"> a) Nunca<br>
                <input type="radio" name="q3" value="1"> b) A veces<br>
                <input type="radio" name="q3" value="2"> c) Con frecuencia<br>
                <input type="radio" name="q3" value="3"> d) Siempre<br>
            </div>
            <button type="button" (click)="calcular('ansiedadForm', 'Ansiedad', 3)">Enviar</button>
            <button (click)="toggleForm('ansiedad')">Salir</button>
          </form>
        </div>
      </div>

      <div class="form">
        <div class="form-header">
          <h2>Depresión</h2>
          <button (click)="toggleForm('depresion')">Hacer</button>
        </div>
        <div class="form-body" class="form-body" *ngIf="formulariosVisibles['depresion']">
          <form #depresionForm="ngForm" id="depresionForm">
            <h2>Depresión</h2>
            <div class="question">
                <label>1. ¿Con qué frecuencia te sientes nervioso/a o en tensión?</label><br>
                <input type="radio" name="q1" value="0"> a) Nunca<br>
                <input type="radio" name="q1" value="1"> b) A veces<br>
                <input type="radio" name="q1" value="2"> c) Frecuentemente<br>
                <input type="radio" name="q1" value="3"> d) Casi siempre<br>
            </div>

            <div class="question">
                <label>2. ¿Te cuesta relajarte incluso cuando estás en un entorno tranquilo?</label><br>
                <input type="radio" name="q2" value="0"> a) No, me relajo fácilmente<br>
                <input type="radio" name="q2" value="1"> b) Solo en ocasiones<br>
                <input type="radio" name="q2" value="2"> c) Sí, con frecuencia<br>
                <input type="radio" name="q2" value="3"> d) Siempre<br>
            </div>

            <div class="question">
                <label>3. ¿Sientes que no puedes controlar tus preocupaciones?</label><br>
                <input type="radio" name="q3" value="0"> a) Nunca<br>
                <input type="radio" name="q3" value="1"> b) A veces<br>
                <input type="radio" name="q3" value="2"> c) Con frecuencia<br>
                <input type="radio" name="q3" value="3"> d) Siempre<br>
            </div>
            <button type="button" (click)="calcular('depresionForm', 'Depresión', 3)">Enviar</button>
            <button (click)="toggleForm('depresion')">Salir</button>
          </form>
        </div>
      </div>
    </section>
</main>
<app-footer></app-footer>
