.cont{
  width: 100%;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

h2{
  width: 100%;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: var(--text-color);
  text-align: center;

  td {
    padding: 5px;
  }

  th {
    background-color: var(--rosa-chicle5);
    color: var(--blanco);
    padding: 10px;
  }
}

button{
  border: none;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;  
  padding: 10px;
  border-radius: 7px;
  color: var(--text-color);
}

.button-crear {
  background-color: var(--verde3);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
  margin: auto;
  margin-left: 0;

  &:hover {
    background-color: var(--verde5);
  }
}

.button-editar {
  background-color: #529dff;
  border-radius: 7px 0 0 7px;

  &:hover {
    background-color: #167bff;
  }
}

.button-borrar {
  background-color: var(--rosa4);
  border-radius: 0 7px 7px 0;

  &:hover {
    background-color: var(--rosa5);
  }
}

.button-guardar {
  background-color: var(--verde3);
  border-radius: 7px;
  align-self: left;

  &:hover {
    background-color: var(--verde5);
  }
}

.button-cancelar {
  background-color: var(--rosa4);
  border-radius: 7px;

  &:hover {
    background-color: var(--rosa5);
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;

  label {
    /* border: 2px solid var(--rosa-chicle5); */
    width: 50%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}

.form-crear{
  border: 2px solid var(--rosa-chicle5);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.267);
  width: auto;
  max-width: 400px;

  label {
    width: 100%;
  }
}

.mensaje-exito {
  margin: 1rem 0;
  padding: 0.75rem;
  background-color: #d1e7dd;
  border: 1px solid #badbcc;
  color: #0f5132;
  border-radius: 4px;
}

.mensaje-error {
  margin: 1rem 0;
  padding: 0.75rem;
  background-color: #e7d1d1;
  border: 1px solid #dbbaba;
  color: #510f0f;
  border-radius: 4px;
}

.error {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    color: red;
    font-size: 14px;
    font-weight: bold;
}