main{
    padding-top: 100px; /*lo q mide el navbar 70px*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 0 10%;
    margin-bottom: 50px;
    min-height: 100vh;
    color: var(--text-color);
}

app-gestion-prof, app-gestion-tema, app-gestion-tipo-t {
    width: 100%;
    max-width: 1200px;
}