<app-navbar></app-navbar>
<main>
    <!-- <div class="cont cont-prof">
        <table>
            <thead>
                <tr>
                    <th>Id Prof</th>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Descripción</th>
                    <th>Especialidad</th>
                    <th>Id Usuario</th>
                    <th>Funciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let profesional of profesionales">
                    <td>{{ profesional.id }}</td>
                    <td>{{ profesional.name }}</td>
                    <td>{{ profesional.image }}</td>
                    <td>{{ profesional.description }}</td>
                    <td>{{ profesional.specialty }}</td>
                    <td>{{ profesional.id_user }}</td>
                    <td>
                        <button (click)="editarProfesional(profesional)">Editar</button>
                        <button (click)="eliminarProfesional(profesional.id)">Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>

        
        <button>Agregar profesional</button>
    </div>
    </div> -->
    <h1>Gestión de datos</h1>
    <app-gestion-prof></app-gestion-prof>
    <app-gestion-tipo-t></app-gestion-tipo-t>
    <app-gestion-tema></app-gestion-tema>
</main>
<app-footer></app-footer>