<app-header></app-header>
<main>
  <ng-container *ngIf="temasFavoritos && temasFavoritos.length > 0; else noFavoritos">
    <div class="cont-temas favoritos">
      <h2>Temas Favoritos</h2>
      <div class="tema" *ngFor="let tema of temasFavoritos">
        <div class="tema-header">
          <div class="title">
            <p>{{ tema.name }}</p>
            <div class="icon" (click)="toggleFavorite(tema)">
              <svg *ngIf="!tema.isFavorited" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="var(--blanco)" d="M2 6.342a3.375 3.375 0 0 1 6-2.088a3.375 3.375 0 0 1 5.997 2.26c-.063 2.134-1.618 3.76-2.955 4.784a14.4 14.4 0 0 1-2.676 1.61q-.031.015-.05.022l-.014.006l-.004.002h-.002a.75.75 0 0 1-.592.001h-.002l-.004-.003l-.015-.006a6 6 0 0 1-.232-.107a14.4 14.4 0 0 1-2.535-1.557C3.564 10.22 1.999 8.558 1.999 6.38z"/></svg>
              <svg *ngIf="tema.isFavorited" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="var(--rosa4)" d="M2 6.342a3.375 3.375 0 0 1 6-2.088a3.375 3.375 0 0 1 5.997 2.26c-.063 2.134-1.618 3.76-2.955 4.784a14.4 14.4 0 0 1-2.676 1.61q-.031.015-.05.022l-.014.006l-.004.002h-.002a.75.75 0 0 1-.592.001h-.002l-.004-.003l-.015-.006a6 6 0 0 1-.232-.107a14.4 14.4 0 0 1-2.535-1.557C3.564 10.22 1.999 8.558 1.999 6.38z"/></svg>
            </div>
          </div>
          <div class="no-movil image">
            <img src="assets/imageTema.png">
          </div>
        </div>
        <div class="tema-body">
          <p>{{ tema.description }}</p>
          <button class="tema-button" [routerLink]="['/temas', tema.id]">Ver</button>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #noFavoritos>
    <p>No hay temas favoritos.</p>
  </ng-template>

  <div *ngFor="let tipoTema of tipoTemas" class="cont-temas">
    <ng-container *ngIf="tieneTemasPorTipo(tipoTema.code)">
      <h2>{{ tipoTema.name }}</h2>
      <div class="tema" *ngFor="let tema of getTemasPorTipo(tipoTema.code)">
        <div class="tema-header">
          <div class="title">
            <p>{{ tema.name }}</p>
            <div class="icon" (click)="toggleFavorite(tema)">
              <svg *ngIf="!tema.isFavorited" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="var(--blanco)" d="M2 6.342a3.375 3.375 0 0 1 6-2.088a3.375 3.375 0 0 1 5.997 2.26c-.063 2.134-1.618 3.76-2.955 4.784a14.4 14.4 0 0 1-2.676 1.61q-.031.015-.05.022l-.014.006l-.004.002h-.002a.75.75 0 0 1-.592.001h-.002l-.004-.003l-.015-.006a6 6 0 0 1-.232-.107a14.4 14.4 0 0 1-2.535-1.557C3.564 10.22 1.999 8.558 1.999 6.38z"/></svg>
              <svg *ngIf="tema.isFavorited" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="var(--rosa4)" d="M2 6.342a3.375 3.375 0 0 1 6-2.088a3.375 3.375 0 0 1 5.997 2.26c-.063 2.134-1.618 3.76-2.955 4.784a14.4 14.4 0 0 1-2.676 1.61q-.031.015-.05.022l-.014.006l-.004.002h-.002a.75.75 0 0 1-.592.001h-.002l-.004-.003l-.015-.006a6 6 0 0 1-.232-.107a14.4 14.4 0 0 1-2.535-1.557C3.564 10.22 1.999 8.558 1.999 6.38z"/></svg>
            </div>
          </div>
          <div class="no-movil image">
            <img src="assets/imageTema.png">
          </div>
        </div>
        <div class="tema-body">
          <p>{{ tema.description }}</p>
          <button class="tema-button" [routerLink]="['/temas', tema.id]">Ver</button>
        </div>
      </div>
    </ng-container>
  </div>
  <app-chatbot></app-chatbot>
</main>
<app-footer></app-footer>
